In [94]:
import pandas as pd

In [95]:
import numpy as np

In [96]:
aryan = pd.read_csv('sample_prices.csv')

In [97]:
aryan=pd.DataFrame(aryan)

In [98]:
blue = aryan.iloc[:,0]

In [99]:
orange = aryan.iloc[:,1]

In [100]:
BLUE = pd.Series.tolist(blue)

In [101]:
ORANGE = pd.Series.tolist(orange)

# Question 1: Monthly Returns = ((closing price of this month)/(closing price of previous month))-1

In [102]:
def monthly_return(series):
    monthlyReturn = []
    for i in range(1,13):
        value = series[i]/series[i-1]-1
        monthlyReturn.append(value)
    return monthlyReturn

In [103]:
monthly_return(BLUE)

[0.0236206896551725,
 -0.021806748638481865,
 -0.03176334186631158,
 0.034477035069831574,
 0.0377862332958947,
 -0.01145210986074141,
 0.03267645284536491,
 -0.012581269810361562,
 0.029580612647355453,
 0.006150506512300868,
 0.01216236224802758,
 0.021148541335785476]

In [104]:
monthly_return(ORANGE)

[0.03966228893058177,
 -0.03363770888223194,
 0.08223155929038284,
 0.044544332956594435,
 -0.026381432229288793,
 -0.049187281550103434,
 0.1170077981405806,
 0.06735254648859357,
 0.07824941627252602,
 -0.16826068850638531,
 0.024040989010072122,
 -0.05562346192082668]

# Question 2: Calculating Sharpe Ratio = ((monthly returns avg)-(risk free rate= 6.5%))/SD

In [105]:
def sharpeRatio(series):
    riskFreeRate = 6.5/100
    Std = np.std(series)
    avg = np.average(monthly_return(series))
    sharpe = (avg- riskFreeRate)/Std
    return print("{:.2f}".format(sharpe))

In [106]:
sharpeRatio(BLUE)

-0.15

In [107]:
sharpeRatio(ORANGE)

-0.05

# Question 3: Calculating Annual Return Rate

In [108]:
returns = aryan.pct_change()
returns

        BLUE    ORANGE
0        NaN       NaN
1   0.023621  0.039662
2  -0.021807 -0.033638
3  -0.031763  0.082232
4   0.034477  0.044544
5   0.037786 -0.026381
6  -0.011452 -0.049187
7   0.032676  0.117008
8  -0.012581  0.067353
9   0.029581  0.078249
10  0.006151 -0.168261
11  0.012162  0.024041
12  0.021149 -0.055623

In [109]:
annualReturnBlue = returns['BLUE'].sum()

In [110]:
annualReturnBlue

0.11999896343383665

In [111]:
annualReturnOrange = returns['ORANGE'].sum()

In [112]:
annualReturnOrange

0.11999835800049519